@font-face {
  font-family: 'The Amoret Collection Sans';
  src: url('https://db.onlinewebfonts.com/t/38566e1fb22adb542cc0a4d11b7983f6.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/38566e1fb22adb542cc0a4d11b7983f6.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/38566e1fb22adb542cc0a4d11b7983f6.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.MuiTypography-h1,
.MuiTypography-h2,
.MuiTypography-h3,
.MuiTypography-h4,
.MuiTypography-h5,
.MuiTypography-h6,
.MuiButton-contained,
.MuiButton-containedPrimary,
.MuiButton-containedSecondary {
  font-family: 'The Amoret Collection Sans', 'Poppins', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
